@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

/* .main-content {
  margin-top: 100px;
  padding: 3em 0;
} */

.mb-50 {
  margin-bottom: 50px;
}

.mag-innert-right {
  background-color: #fff;
  padding: 1em 1em;
  border: 1px solid rgba(231, 231, 231, 1.00);
}

.single-left-grid h4 {
  line-height: 1.6em;
  font-weight: bold;
  text-transform: none;
  font-size: 1.05em;
  color: #282828;
  text-transform: uppercase;
}

p.text {
  font-size: 0.9em;
  color: #737171;
  line-height: 1.8em;
  margin: 0.6em 0;
}

.single-bottom ul {
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
  border-top: solid 1px #DDD8D8;
}

.single-bottom ul li {
  display: inline-block;
  font-size: 14px;
  color: #777;
  margin: 0 1em;
}

.single-bottom ul li a {
  color: #EE5656;
  font-size: 14px;
  text-decoration: none;
}

.post {
  margin-top: 2em;
}

.leave h4,
.post h3 {
  color: #ee5656;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.post-grids {
  margin: 2em 0;
  padding-bottom: 1.37em;
  border-bottom: 1px solid #F2F2F2;
}

.grid_5 h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Roboto-Regular';
}

.post-right h4 a {
  text-transform: uppercase;
  font-size: 1em;
}

.post-right h4 a {
  color: #282828;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.post-right p.comments {
  color: #d7d7d7;
  font-size: 12px;
  margin: 1em 0;
  font-style: italic;
}

p.comments a {
  color: #282828;
}

p.text {
  font-size: 0.9em;
  color: #737171;
  line-height: 1.8em;
  margin: 0.6em 0;
}

h4.side {
  background-color: #282828;
  padding: 0.8em 1em;
  color: #ee5656;
  text-transform: uppercase;
  font-size: 1.1em;
}

ul.stay {
  background-color: #fff;
  padding: 2em 2em;
  border: 1px solid rgba(231, 231, 231, 1.00);
}

.c5-element-facebook,
.c5-element-twitter,
.c5-element-dribble,
.c5-element-gg {
  background: #337ab7;
  padding: 0.8em 1em;
  margin-bottom: 0.5em;
  list-style: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.c5-element-twitter {
  background: #1dcaff;
}

.c5-element-gg {
  background: #dd4b39;
}

.c5-element-dribble {
  background: #ea4c89;
}

span.icon,
span.icon1,
span.icon2,
span.icon3 {
  /* background: url(../images/icons.png) no-repeat 2px 2px; */
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: sub;
  font-size: 24px;
  color: #fff;
  margin-right: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Roboto-Regular';
}

.c5-element-twitter h5,
.c5-element-dribble h5,
.c5-element-facebook h5,
.c5-element-gg h5 {
  font-size: 14px;
  color: #fff;
  margin-right: 1em;
  text-transform: uppercase;
  display: inline-block;
}

span.text {
  font-size: 14px;
  color: #fff;
}

.stay-contact .text {
  color: #fe4c50;
  font-size: 25px;
  font-weight: bold;
}

.stay-contact li {
  border: 4px solid #ddd;
  padding: 0 20px;
  margin-bottom: 10px;
  font-weight: bold;
  height: 80px;
}

.stay-contact .icon {
  color: #fe4c50;
  font-size: 35px;
  position: relative;
  top: 20%;
}

.stay-contact li:nth-child(3) span,
.stay-contact li:nth-child(4) span,
.stay-contact li:nth-child(5) span {
  position: relative;
  top: 40%;
}

.stay-contact li:nth-child(3) h5,
.stay-contact li:nth-child(4) h5,
.stay-contact li:nth-child(5) h5 {
  position: relative;
  top: 40%;
}

.stay-contact h5 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.item-pic {
  padding: 0;
}

.item-details {
  padding-right: 0;
}

h5.inner {
  line-height: 1.8em;
  font-size: 0.85em;
  padding: 0;
}

h5.inner.two a {
  color: #282828;
  font-weight: bold;
  text-transform: none;
  font-size: 1.1em;
}

.td-post-date.two,
.td-post-date.two a {
  color: #B5B5B5;
}

.td-post-date {
  color: #ee5656;
  font-size: 0.8em;
  margin: 0.5em 0;
}

.td-post-date.two i {
  margin-right: 0.5em;
  font-size: 0.9em;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.td-post-date.two i {
  color: #E6E5E5;
}

.td-post-date.two,
.td-post-date.two a {
  color: #B5B5B5;
}

.editor-pics {
  margin: 0;
}

.edit-pics {
  background-color: #fff;
  padding: 1.5em 1.5em;
  border: 1px solid rgba(231, 231, 231, 1.00);
}

.editor-pics {
  margin-bottom: 0.7em;
}