.br-bm-gd-lt .overlay {
  display: block;
  position: absolute;
  height: 300px;
  width: 100%;
  top: 0;
  right: -100%;
  transition: .4s ease-out;
  -webkit-transition: .4s ease-out;
}

.br-bm-gd-lt {
  overflow: hidden;
  display: inline-block;
  position: relative;
  height: 300px;
}

.br-bm-gd-lt img {
  width: 100%;
}

.br-bm-gd-lt .overlay .arrow-left {
  position: relative;
  left: 0;
  width: 0;
  height: 0;
  top: 0;
  bottom: 0;
  border-bottom: 300px solid transparent;
  border-right: 285px solid rgba(39, 179, 17, 0.84);
  background: rgba(255, 24, 0, 0.59);
}

.br-bm-gd-lt .overlay .rectangle {
  display: block;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .95);
}

.br-bm-gd-lt:hover .overlay {
  right: 0;
}

.banner-bottom {
  padding: 5em 0 0;
}

.br-bm-gd-lt,
.br-bm-gd-lt1,
.br-bm-gd-lt2,
.br-bm-gd-lt3,
.br-bm-gd-lt4,
.br-bm-gd-lt5,
.br-bm-gd-lt6,
.br-bm-gd-lt7 {
  min-height: 300px;
  position: relative;
}

.br-bm-gd-lt {
  background: url(../images/1.jpg) no-repeat 0px 0px;
  display: block;
}

.br-bm-gd-lt1 {
  background: url(../images/2.jpg) no-repeat 0px 0px;
  display: block;
}

.br-bm-gd-lt2 {
  background: url(../images/3.jpg) no-repeat 0px 0px;
  display: block;
}

.br-bm-gd-lt3 {
  background: url(../images/4.jpg) no-repeat 0px 0px;
  display: block;
}

.br-bm-gd-lt4 {
  background: url(../images/5.jpg) no-repeat 0px 0px;
  display: block;
}

.br-bm-gd-lt5 {
  background: url(../images/6.jpg) no-repeat 0px 0px;
  display: block;
}

.br-bm-gd-lt6 {
  background: url(../images/7.jpg) no-repeat 0px 0px;
  display: block;
}

.br-bm-gd-lt7 {
  background: url(../images/8.jpg) no-repeat 0px 0px;
  display: block;
}

.br-bm-gd-lt .overlay .arrow-left {
  border-right: 300px solid rgba(39, 179, 17, 0.84);
}

.br-bm-gd-lt .overlay .rectangle {
  display: block;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .95);
}

.health-pos {
  position: absolute;
  top: 0%;
  left: 0%;
}

.health {
  padding: 1em 1em 0;
}

.health ul {
  margin: 0;
  padding: 0;
}

.health ul li:nth-child(1) {
  margin-left: 0;
  padding: 0;
  border: none;
  background: none;
}

.health ul li:nth-child(2) {
  background: none;
  border: 2px solid #fff;
}

.health ul li {
  padding: .2em 0.4em;
  background: #ff1800;
  border: 2px solid #ff1800;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: .5em;
  font-weight: 300;
}

.health ul li a {
  color: #fff;
  background: #0042ff;
  padding: .1em 1.2em;
  border: 2px solid #0042ff;
  text-decoration: none;
}

.banner-bottom-grid-left .title-news {
  padding: 0 1em;
}

.banner-bottom-grid-left .title-news {
  margin: .5em 0 0;
  color: #fff;
  font-size: 1.8em;
  letter-spacing: 1px;
  line-height: 1.4em;
}

.banner-bottom-grids {
  padding: 50px 0;
}

.banner-bottom-grid-left:hover .health ul li a {
  background: none;
  border: 2px solid #fff;
}

.health ul li a.sport {
  background: #ba00ff;
  border: 2px solid #ba00ff;
}

.health ul li a.plane {
  background: #ffc000;
  border: 2px solid #ffc000;
}

.health ul li a.general {
  background: #00b0a6;
  border: 2px solid #00b0a6;
}

.health ul li a.pol {
  background: #ff1800;
  border: 2px solid #ff1800;
}

.health ul li a.world {
  background: #ff00d2;
  border: 2px solid #ff00d2;
}

.health ul li a.national {
  background: #308f51;
  border: 2px solid #308f51;
  padding: .1em .2em !important;
}

.health ul li a.business {
  background: #950202;
  border: 2px solid #950202;
}

.health ul li a {
  padding: .1em 0.3em;
}

.health ul li a {
  padding: .2em 3em;
  font-size: 14px;
}

.banner-bottom-grid-left .title-news {
  padding: 0 1em;
  display: block;
}

.mb-50 {
  margin-bottom: 50px;
}

.modal h4 {
  padding: 0;
}